<template>
  <b-row>
    <b-col xl="4" offset-xl="4">
      <validation-observer ref="observer" v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(onSubmit)" @reset="onReset">
          <base-input
            id="user-email"
            label="Email:"
            type="email"
            v-model="loginForm.email"
            :rules="{ required: true, email: true }"
          />
          <base-input
            id="user-password"
            label="Password:"
            type="password"
            v-model="loginForm.password"
            :rules="{ required: true, min: 6 }"
          />
          <b-form-row>
            <b-col>
              <b-button type="reset" variant="secondary" block>
                <i class="fas fa-eraser"></i>Reset
              </b-button>
            </b-col>
            <b-col>
              <b-button type="submit" variant="primary" block>
                <i class="fas fa-sign-in-alt"></i>Login
              </b-button>
            </b-col>
          </b-form-row>
        </b-form>
      </validation-observer>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { ValidationObserver } from "vee-validate";
import BaseInput from "@/components/BaseInput.vue";

import { user } from "@modules";
import { isNullOrEmpty } from "@/util";
import { AuthFormData } from "@/types";

@Component({
  components: {
    BaseInput,
    ValidationObserver
  }
})
export default class Login extends Vue {
  @Ref() readonly observer!: InstanceType<typeof ValidationObserver>;

  private loginForm: AuthFormData = {
    email: null,
    password: null
  };

  async onSubmit() {
    try {
      await user.dispatchLogin(this.loginForm);
      this.$bvToast.toast("Successfully logged in to Stock Trader", {
        title: "Stock Trader",
        variant: "success"
      });

      const { redirect } = this.$route.query;

      if (!isNullOrEmpty(redirect)) {
        await this.$router.replace({ path: redirect as string });
      } else {
        await this.$router.replace({ path: "/" });
      }
    } catch {
      this.$bvToast.toast("Failed to log in to Stock Trader", {
        title: "Stock Trader",
        variant: "info"
      });
    }
  }

  onReset() {
    this.loginForm.email = null;
    this.loginForm.password = null;

    this.$nextTick(() => {
      this.observer.reset();
    });
  }
}
</script>

<style></style>
