<template>
  <b-row>
    <b-col xl="4" offset-xl="4">
      <validation-observer ref="observer" v-slot="{ handleSubmit }">
        <b-form @submit.prevent="handleSubmit(onSubmit)" @reset="onReset">
          <base-input
            id="user-email"
            label="Email:"
            type="email"
            v-model="signupForm.email"
            :rules="{ required: true, email: true }"
          />
          <base-input
            id="user-password"
            label="Password:"
            type="password"
            v-model="signupForm.password"
            :rules="{ required: true, min: 6 }"
          />
          <base-input
            id="user-confirm-password"
            label="Confirm password:"
            type="password"
            v-model="signupForm.confirmPassword"
            :rules="{ required: true, confirmed: 'user-password' }"
          />
          <b-form-row>
            <b-col>
              <b-button type="reset" variant="secondary" block>
                <i class="fas fa-eraser"></i>Reset
              </b-button>
            </b-col>
            <b-col>
              <b-button type="submit" variant="primary" block>
                <i class="fas fa-user-plus"></i>Register
              </b-button>
            </b-col>
          </b-form-row>
        </b-form>
      </validation-observer>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { ValidationObserver } from "vee-validate";
import BaseInput from "@/components/BaseInput.vue";

import { user } from "@modules";
import { AuthFormData } from "@/types";

@Component({
  components: {
    BaseInput,
    ValidationObserver
  }
})
export default class Signup extends Vue {
  @Ref() readonly observer!: InstanceType<typeof ValidationObserver>;

  private signupForm: AuthFormData & { confirmPassword: string | null } = {
    email: null,
    password: null,
    confirmPassword: null
  };

  async onSubmit() {
    try {
      await user.dispatchSignup(this.signupForm);
      this.$bvToast.toast("Successfully signed up for Stock Trader", {
        title: "Stock Trader",
        variant: "success"
      });

      await this.$router.replace({ path: "/" });
    } catch {
      this.$bvToast.toast("Failed to sign up for Stock Trader", {
        title: "Stock Trader",
        variant: "info"
      });
    }
  }

  onReset() {
    this.signupForm.email = null;
    this.signupForm.password = null;
    this.signupForm.confirmPassword = null;

    this.$nextTick(() => {
      this.observer.reset();
    });
  }
}
</script>

<style></style>
