<template>
  <validation-provider
    :vid="vid || $attrs.id"
    :name="$attrs.name"
    :rules="rules"
    v-slot="context"
    slim
  >
    <b-form-group :label-for="$attrs.id">
      <template #label>
        {{ label }} <span v-if="context.required" class="text-danger">*</span>
      </template>
      <b-form-input
        v-model="modelValue"
        v-bind="$attrs"
        :state="getValidationState(context)"
      />
      <b-form-invalid-feedback>
        {{ context.errors[0] }}
      </b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>

<script lang="ts">
import { ValidationProvider } from "vee-validate";
import { ValidationContext } from "vee-validate/dist/types/components/common";
import { Vue, Component, Prop, Model, Watch } from "vue-property-decorator";

@Component({
  components: {
    ValidationProvider
  }
})
export default class BaseInput extends Vue {
  @Model("input") readonly value!: string | number | null;
  @Prop({ default: "" }) readonly rules!: object | string;
  @Prop() readonly label!: string;
  @Prop() readonly vid!: string;

  private modelValue: string | number | null = null;

  getValidationState({ dirty, validated, valid }: ValidationContext) {
    return dirty || validated ? valid : null;
  }

  @Watch("modelValue")
  onModelValueChange(newVal: string | number | null) {
    this.$emit("input", newVal);
  }

  @Watch("value")
  onValueChange(newVal: string | number | null) {
    this.modelValue = newVal;
  }

  created() {
    if (this.value) {
      this.modelValue = this.value;
    }
  }
}
</script>

<style></style>
